*{
	margin: 0px;
	padding: 0px;
}

body {
background-color: #blue;


}

#texto{

	margin-left:70px;
	margin-top: -40px;
	text-align: center;
	font-size: medium;
	background-color:;
	
}

.contenido{
width:1335px;
text-align:justify;

}

/* boton de arriba para abajo font-size tamaño flecha cursor:pointer para que aparezca cursor position para posicionarlo siempre sera
fijo aunque bajemos la pantalla estara en el mismo lugar en el display: si ponemos inline-block se ve el boton pero si ponemos display:none que no
se muestre hasta que el usuario baje la página*/
.ir-arriba{

	display: none;
	padding:20px;
	background: #024959;
	font-size: 20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom: 30px;
	right: 20px;
}